.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
}

.cart_header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.cart_info p {
  font-size: 17px;
}
